
@{
    ViewData["Title"] = "Index";
}

<h1>First Page Divided into Columns using Bootstrap</h1>
<p>
    MVC provides a powerful pattern to help you separate concerns in your application. When you implement MVC in your project, you can organize your code more effectively.
</p>
<div class="row">
    <div class="col-md-4">
        <p>To understand how a model represents the data and business logic in your application, focus on creating a robust model layer.</p>
    </div>
    <div class="col-md-4">
        <p>To change the way a view displays data in your application, focus on developing views that properly present the model's data to the user.</p>
    </div>
    <div class="col-md-3">
        <p>To change the way a controller handles user input and updates the model, focus on creating efficient controllers that direct the flow of your application.</p>
    </div>
</div>
<div>
    <p>MVC enhances the maintainability and testability of your applications, making it easier to manage and scale.</p>
</div>
